@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

header.head {
    background-color: #242424;
    display: flex;
    justify-content: center;
}

.head .nav-link {
    color: #fff;
}

.head .nav-link:hover {
    color: rgb(232, 168, 20);
}

.head .nav-link.active {
    color: rgb(232, 168, 20);
}

.main {
    background-image: url(../images/bg-tab-1-mb.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .main {
        background-image: url(../images/bg-tab-1.png);
        background-size: contain;
    }
}

.main .banner {
    padding-top: 50px;
}

.main .banner h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    color: #01CE77;
    display: flex;
    justify-content: center;
}

.banner .content {
    display: block;
    margin: auto;
    max-width: 560px;
    width: 85%;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    margin-top: 13rem;
}

.main .banner .banner-description {
    color: #fff;
    text-align: right;
    font-size: 0.7rem;
    text-align: center;
    padding: 0;
}

@media (min-width: 768px) {
    .banner .content {
        margin-top: auto;
    }

    .main .banner h2 {
        font-size: 3rem;
        text-align: right;
        justify-content: flex-end;
    }

    .main .banner .banner-description {
        color: #fff;
        text-align: right;
        font-size: 1.1rem;
    }
}


.main .buy {
    display: flex;
    padding: 8.1875px 20.2344px;
    background: #FF4169;
    border-radius: 62px;
    align-items: center;
    justify-content: center;
    float: right;
    max-width: 250px;
}

.main .buy:hover {
    background: #01CE77;
}

.main .buy:last-child {
    background: #FF4169;
}

.main .buy:last-child:hover {
    background: #01CE77;
}

.last-news {
    background-image: url(../images/banner-main.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.icon.bel::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/bel.png);
}

.icon.search::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/search.png);
}

.icon.chart::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/chart.png);
}

.icon.wallet::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/wallet.png);
}

.title {
    display: flex;
    align-items: center;
}

.content-last-news {
    background-color: #fff;
    padding: 30px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
}

.content-last-news .box {
    display: block;
    margin: auto;
}

.last-news .content .title h3 {
    text-transform: uppercase;
    position: relative;
    left: 1rem;
}

.introduce {
    background-image: url(../images/bg-sec-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.introduce .content {
    background-color: #fff;
    padding: 30px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    min-height: 350px;
}

.introduce .title {
    text-transform: uppercase;
    color: #01CE77;
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 2rem;
}

.introduce .item {
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}

.why {
    /* background: #01CE77; */
    padding: 4rem 0;
    position: relative;
    background-image: url(../images/bg-end.png);
    background-size: cover;
    background-position: center;
}

.why .content {
    background-color: #fff;
    padding: 30px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    z-index: 2;
    position: relative;
}

.why .dog {
    position: absolute;
    top: 0;
    transform: translateY(50%);
    z-index: 1;
}

.why .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
    color: #01CE77;
}

.why tr,
.why td {
    padding: 10px;
}

.why tr td:last-child {
    font-weight: 700;
}

.why tr td .ca {
    color: #01CE77;
}

.why-descriptions {
    font-weight: 550;
    font-style: italic;
}

.why-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dog.dog1 {
    left: 0;
}

.dog.dog2 {
    right: 0;
}

.footer {
    background-color: #242424;
    color: #fff;
    padding: 20px;
}

.footer .icon-social {
    width: 40px;
    height: 40px;
    background-color: #3D5170;
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    cursor: pointer;
}

.footer .icon-social:hover {
    background: #01CE77;
}

.footer .social {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .footer .social {
        justify-content: right;
    }
}

.chart.container .title {
    text-transform: uppercase;
    color: #01CE77;
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bb {
    background: #fff;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9999999999999;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.copy:hover {
    cursor: pointer;
    color: #01CE77;
}

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
    z-index: 999999;
}

#toast #img {
    width: 50px;
    height: 50px;
    float: left;
    background-color: #111;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

#toast #desc {


    color: #fff;

    padding: 16px;

    overflow: hidden;
    white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

.partner-content {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.partner-content img {
    width: 80px;
    height: 80px;
}

.partner-content h3 {
    width: auto;
    color: #ffa200;
    text-transform: uppercase;
    margin: 0;
}

.popup {
    width: 90%;
    max-width: 500px;
    height: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    z-index: 2;
    display: none;
}

.popup.active {
    display: block;
}

.popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #0000008c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup .close:hover {
    background: #9f00008c;
}

.tax {
    text-align: center;
    list-style: none;
    font-weight: 700;
    color: #9463f0;
    font-size: 1.5rem;
    padding: 0;
}